.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  background-image: url("../../assets/BG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
}

.login_wrapper {
  box-sizing: border-box;
  width: 35%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login__form {
  box-sizing: border-box;
  width: 35%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.login_title {
  color: #4b456f;
  margin: 30px 0px 10px;
}

.login_form a {
  color: chocolate;
}
.login_form_input {
  font-size: 14px;
  padding: 10px;
}

.login_form_input input {
  font-size: 14px;
  padding: 10px;
}

.login_form_input input:focus {
  outline: none;
  border-bottom: 2px solid #fe8402;
}

.email__input,
.pass__input {
  width: 80%;
  padding: 10px 5px;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-bottom: -10px;
}

.login_form_input button {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-radius: 3px;
  background-color: #fe8402;
  color: white;
  margin: 20px 0px 15px;
  font-size: 14px;
}

.login_form_input button:hover {
  cursor: pointer;
  background-color: #516cf0;
  cursor: pointer;
}

.login__form a {
  color: #fe8402;
  /* margin-bottom: 70px; */
  text-decoration: none;
}

.login__form a:hover {
  color: #da7000;
}
.email {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: -10px;
  padding: 10px 5px;
  width: 100%;
}
.password {
  border: 1px solid #999;
  border-radius: 3px;
  margin-bottom: -10px;
  padding: 10px 5px;
  width: 100%;
}
.Evangadi_description {
  color: #656565;
  margin-left: 40px;
  width: 35%;
}

.errordisMsg {
  margin-top: 10px;
  color: #da7000;
}

.title_link a {
  color: #da7000;
  text-decoration: none;
  font-size: 18px;
}
.title {
  font-size: 40px;
  color: #4b456f;
  margin: 10px;
}
.how button:hover {
  cursor: pointer;
  background-color: #516cf0;
  cursor: pointer;
}
.how button {
  background-color: #fe8402;
  /* margin-bottom: 70px; */
  text-decoration: none;
  color: #f8f8f8;
  border: none;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.login_container {
  background-image: url(../../../src/Images/bg.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 294px;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 600px) {
  .login_wrapper {
    display: block;
    margin-bottom: 30px;
  }
}
