.footer {
  background-color: #3b455a;
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 12px;
    
}

.footer_out_container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100px;
  
}
.footer_inner_container {
  width: 70%;
  
}

.footer_data {
  display: flex;
  justify-content: space-between;
}
.footer_data ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12vh;
  gap: 5px;
}
.footer_data ul li {
  cursor: pointer;
  margin: 0 5px;
  color: #999999;
}

.logo_container1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #232f3e;
  text-decoration: none;
}
.logo_img {
  width: 10%;
  margin-left: 400px;
}
.logo_container1 span {
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  padding-right: 20px;
  font-size: 12px;
  justify-content: space-between;
}

.logo_price {
  width: 12%;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.logo_flag {
  width: 10%;
  align-items: center;
  text-align: center;
}
.logo_flag img {
  width: 4%;
  align-items: center;
  text-align: center;
}
.footer_last1 {
  background-color: #111;
  text-decoration: none;
}
.footer_last {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.allspan {
  margin-right: 300px;
}
.copy_write {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .footer_data {
    display: flex;
  }
  .logo_container1 {
    display: none;
  }
  .footer_out_container {
    padding: 20px;
    height: 400px;
  }
}
.footer_icons ul {
  padding-top: 20px;
  display: flex;
  gap: 30px;
}
.footer_icon2 {
  gap: 30px;
  padding: 10px;
  display: flex;
}